@use "reset";
@use "variables";

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: variables.$light;
  color: variables.$dark;
}

main,
footer {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

main {
  padding-top: 20vh;
  min-height: 100dvh;
}

h1 {
  margin-top: 2rem;
  font-size: clamp(2.5rem, 0.625rem + 6vw, 4rem);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-top: 6rem;
  font-size: clamp(1.8rem, 0.925rem + 2.8vw, 2.5rem);
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 1rem;
  font-size: clamp(1.4rem, 0.9rem + 1.6vw, 1.8rem);
  font-weight: 400;
  line-height: 1.2;
}

p,
ul,
ol,
quote {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

li + li {
  margin-top: 0.5rem;
}

li p {
  margin-top: 0;
}

ol,
ul {
  margin-left: 1.3rem;
  list-style-position: outside;
}

a {
  color: variables.$primary;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

footer {
  margin-top: 12rem;
  text-align: center;

  nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
  }

  p {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}
